@charset "utf-8";


body{
	background: black; 
}
#searchDown{
	 width: 170px;
    height: 33px;
    float : right;
    margin-top: 20px;
}

.movielist {
	float: left;
	width: 300px;
	height: 400px;
	margin: 10px;
	text-align: center;
/* 	border: 1px solid gray; */
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	margin-top: 100px;
	}

	.movie {
		width: 300px;
		height: 300px;
		padding: 10px;
		
	}
	
	.cart {
		width: 20px;
	}
	
	video{
		    margin: 15px 10px 10px 10px;
	} 
	
p{
	color: white;
}
#cate{
	color:white;
	float: left;
	margin-left: 200px;
	font-size: 30px;
}


/* 다운로드 폼 */
#content{
	margin-left: 500px;
}
.list-table {
	margin-top: 40px;
	position: relative;
	color:white;
	/* 배경색 */
/* 	background:#1a1a00; */
	background:#6a6a6a;
	
	
}
.list-table thead th{
	
	height:40px;
	border-top:2px solid white;
	border-bottom:1px solid white;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid	 white; height:20px;
	font-size: 14px 
}
.bak_item {
	
	
	height: 170px;
	margin-top: 20px;
}
.poster{
	
	width: 150px;
	height: 170px;
}
.mbutton{
	width:90px;
	margin-bottom: 5px;
}

#left{
	margin : 0 20px 10px 0;
	border-radius : 15px;
	padding : 20px;
	width : calc(15% - 1%);
	height : 420px;
	background: black;
	float : left;
	margin-top: 100px;
}

#leftbar{
	list-style-type: none;
	margin : 0;
	padding : 0;
	width : 200px;
	/* 왼쪽 */
	background-color:gray;
}
#leftbar li a{
	display : block;
	border-bottom: 1px solid black;
	color : white;
	padding : 4px 16px;
	text-decoration : none;
	font-size : 1.3em;
	letter-spacing: 2px;
}
#leftbar li a.active{
	background-color: #4CAF50;
	color: white;
}
#leftbar li a:hover{
	background-color: #555;
	color : white;
}

