@charset "UTF-8";

body {
	min-width: 1200px;
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

h3 {
	font-weight: bold;
	padding: 20px;
}

#pp { /* 고객센터 */
	color: white;
	margin-top: 50px;
	margin-right: 900px;
	font-weight: bold;
	font-size: 2.0em;
	float: right;
	
}

.b {
	font-size: 30px;
}

#comuni {
	float: right;
	margin-right: 100px;
	width: 120px;
}


 .navbar {
      margin-bottom: 0;
      border-radius: 0;
      height : 150px;
    }
 .row{
 	height : 620px;
 }   

.hello{
	 height : 60px;
	 margin-left: 70px;
	 
}

.logo{
    	width : 210px;
    	height : 140px;
    }

.right{
	width : calc(30% - 1%);
	height : 400px;
	 
	float : right;
/* 	border : 1px solid blue; */
	margin-right: 100px;	
	padding-left: 200px;
	
}
.left{
	width : calc(30% - 1%);
	height : 400px;
	 
	float : left;
	/* border : 1px solid pink; */
	
}
.center{
	 width : calc(30% - 1%); 
	height : 400px;
	float : right;
	/* border : 1px solid green; */
	margin-right: 100px;
}
.ww1{
	font-size : 1.1em;
	text-align: center;
	margin-left: 400px; 
	/* background: pink; */
}
.ww2{
	width : 240px;
	font-size : 1.1em;
	text-align: center;
	margin-right: 500px;
/* 	background: yellow; */
}
.ww{
	font-size : 1.1em;
	text-align: center;
	 margin-right: 280px; 
	/*  background: gray; */
}


.down{
	float : right;
	text-align: right;
	margin-right: 10px;
}