@charset "UTF-8";

body {
	background: black;
}

#searchDown {
	width: 170px;
	height: 33px;
	float: right;
	margin-top: 20px;
}

.movielist {
	float: left;
	width: 300px;
	height: 400px;
	margin: 10px;
	text-align: center;
	/* 	border: 1px solid gray; */
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	margin-top: 100px;
}

.movie {
	width: 300px;
	height: 300px;
	padding: 10px;
}

.cart {
	width: 20px;
}

video {
	margin: 15px 10px 10px 10px;
}

p {
	color: white;
}

#cate {
	color: white;
	float: left;
	margin-left: 200px;
	font-size: 30px;
}