@charset "UTF-8";

#pp{ /* 로고 */
	color: white;
	margin-top: 50px;
	margin-left : 200px;
	/* font-weight: bold; */
	font-size: 3.0em;
	
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#tt{ /* 메뉴창 */
	font-size:30px;
	cursor:pointer;
	float:left;
}

.sidefont{
	margin-left:15px;
	font-size: 1.8em;
	color: white;
}
/* ----------------------------------------------------------- */




#word{ /* 상영작 관리 다운로드 관리 */
	float:left; 
	margin-left: 50px; 
	margin-top: 10px; 
	font-size: 1.3em;
}
#contw{/*  상영작 관리 */
	font-weight: bold;
	margin-left: 70px; 
	margin-top : 40px;
	margin-bottom: 32px;
}



.form-group{
	float: left;
	margin-left: 200px;
}

#fiselet{
	width: 180px;
	font-size: 1.5em;
	color: white;
	background: black;
}


.btn{
	margin-left: 500px;
	
}

.back{
	color: red;
	margin-left: 50px;
}
































